# {{ ansible_managed }}
{% set fabric = spreadsheet_infra %}
---

system_fabric:
{%if vcenters_list %}
  vcenters_list:
{% for vc in vcenters_list.split(',')|ipaddr %}
    - {{vc|ipaddr}}
{% endfor %}
{%endif%}