{% set vsegments = spreadsheet_vNetworking_segments %}
{% set vgateways = spreadsheet_vNetworking_gateways %}
{% set vtags = spreadsheet_vTags %}
{% set vsecgroups = spreadsheet_vSec_grps %}

vm_tags:
{% for i in vtags if (i.vm_name) %}
  - { vm_name: "{{i.vm_name}}", tags: [ {%if i.Tag_Environment%} {tag: "ENVIRONMENT", scope: "{{i.Tag_Environment}}"}{%endif%}{%if i.Tag_Management%} ,{tag: "Management", scope: "{{i.Tag_Management}}"}{%endif%}{%if i.Tag_SharedService%}, {tag: "SHAREDSERVICE", scope: "{{i.Tag_SharedService}}"}{%endif%}{%if i.Tag_ApplicationName%}, {tag: "applicationname", scope: "{{i.Tag_ApplicationName}}"}{%endif%}{%if i.Tag_ApplicationTier%}, {tag: "tier", scope: "{{i.Tag_ApplicationTier}}"}{%endif%}{%if i.Tag_Critical%}, {tag: "Critical"}{%endif%}] }
{% endfor %}

security_groups:
